.main {
  @include flex(center, center, column);
  gap: 0 2.5rem;
  min-height: 100dvh;
  padding: 2rem;

  &__logo {
    width: 50%;
    aspect-ratio: 2;
    margin-bottom: 4rem;
  }

  &__desc {
    direction: ltr;
    text-align: center;
    font-size: $text-large;
    font-weight: $font-medium;
    color: $primary;
    margin-bottom: 2rem;
  }

  &__btn {
    width: 100%;
  }
}
